/*Informs users if they need to update or not
 *        To tell users there needs to be a new update
 *        change the v### below to a new version to 
 *        the same as in the userscript CURRENT_VERSION
*/

body:not(.v107) div#updateInfo{
     display:block !important;
}
body:not(.v107) div#whiteOverlay{
     top:144px !important;
}
